@import '@univerjs/preset-sheets-core/lib/index.css';
@import '@univerjs/preset-sheets-sort/lib/index.css';
@import '@univerjs/preset-sheets-filter/lib/index.css';
@import '@univerjs/preset-sheets-conditional-formatting/lib/index.css';
@import '@univerjs/preset-sheets-data-validation/lib/index.css';
@import '@univerjs/preset-sheets-drawing/lib/index.css';
@import '@univerjs/preset-sheets-hyper-link/lib/index.css';
@import '@univerjs/preset-sheets-find-replace/lib/index.css';
@import '@univerjs/preset-sheets-thread-comment/lib/index.css';
@import '@univerjs/sheets-zen-editor/lib/index.css';
@import '@univerjs/sheets-crosshair-highlight/lib/index.css';

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}